@import '../../styles/global.mixins.scss';

:root {
  .headerContainer {
    align-items: center;
    background: var(--background);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    height: 6.5rem;
    padding: 2rem 4rem;

    @include smDown {
      max-width: 100vw !important;
      padding: 0.5rem 1rem;

      img {
        height: 1.5rem;
      }
    }

    & > div {
      border-left: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      margin-left: 2rem;
      text-transform: capitalize;
      width: 100%;

      @include smDown {
        flex-wrap: wrap;
        margin-left: 1rem;
      }

      .dateContainer {
        align-items: center;
        display: flex;
        margin-left: auto;

        button {
          background: transparent;
          border: 0;
          font-size: 1rem;
          line-height: 0;
          margin-right: 0.5rem;
          transition: filter 0.2s;

          &:disabled {
            cursor: default;
            opacity: 0.5;
          }

          @media not all and (pointer: coarse) {
            &:hover:not(:disabled) {
              filter: brightness(0.7);
            }
          }
        }
      }

      p {
        padding: 0.25rem 0 0.25rem 2rem;

        @include smDown {
          padding: 0.25rem 0 0.25rem 1rem;
        }
      }
    }
  }
}
